body {
  background-color: #180a49;
  color: #533eca;
  font-family: "Yusei Magic", sans-serif;

}

button {
  color: #ffffff;
  border-color: #180a49;
  font-family: "Yusei Magic", sans-serif;
 background-color: #5714c2;
}